[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LGDtoolkit"]
	path = LGDtoolkit
	url = https://github.com/andrija-djurovic/lgdtoolkit
[submodule "monobin"]
	path = monobin
	url = https://github.com/andrija-djurovic/monobin
[submodule "monobinShiny"]
	path = monobinShiny
	url = https://github.com/andrija-djurovic/monobinshiny
[submodule "PDtoolkit"]
	path = PDtoolkit
	url = https://github.com/andrija-djurovic/pdtoolkit
